  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;1,200&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;

}
#logo{
    /* margin-left: 10px; */
    color: crimson;
    text-align: center;
}
#logo span{
    color: navy;
}

.mynav{
    /* display: absolute; */
    background-image: linear-gradient(to right ,rgb(252, 252, 252), rgb(192, 192, 244));
    padding: 5px;
    border-bottom: 1px solid #dadada;
    /* top: 0; */
}
.mydropdown{
    font-size: 14px;
    border:1px solid navy ;
}
.search{
    height: 40px;
    font-size: 14px;
    border-color: navy;
 }
a{
    text-decoration:none;
    color: navy;
    
}
a:hover{
    color: crimson;
    transition:linear all  0.5s;
}
.content{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
}
.left{
    height:100%;
    width: 50%;

    padding: 7vw 8vw;
     padding: 0px;
    

}
.right{
    height: 100%;
    width: 50%;
}
.search-page{
    height: calc(50% + 10px);
    width: 50%;
}
.rotate {
   border :1px solid black;
   width: calc(100% - 20px);
   height: calc(100% - 20px);
   margin: 10px;
   border-radius: 3px;
    
}

.form{
    display: flex;
   
    text-align: center;
    background:rgb(239, 239, 245);
    width: calc(100%-40px);
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow:auto;
 }
.inputs{
    display: flex;
    margin: 5px;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
}
input{
    height: 2rem;
    border-radius: 2px;
    width: 250px;
    border: 1px solid navy;
    padding-left: 2px;
    font-size: 13px;

  
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #direction{
    width: 65px;
    height: 30px;
    margin-left: 3px;
    display: none;
    cursor: pointer;
    font-size: 13px;

 }
 #algo{
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-size: 13px;

}
.btn{
    color: navy;
    border-color:navy ;
    
}
.mybtn{
    /* margin: 1rem; */
    margin-left: 0.5rem;
    width: 4.5rem;
    height: 2rem;
    border:none;
    background-color: rgb(48, 48, 232);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 400;
}
.ans{
    /* height: 0.5rem;
    width: 0.5rem; */
    /* border: 1px solid black; */
    margin-top: 5px;
    font-size: 13px;
}
.head{
    width: 120px;
}
.head-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.num-inputs{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.algo-title{
    margin-bottom: 5%;
    color: navy;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.reset-btn{
    background-color: rgb(1, 161, 33);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* footer */
.text-center{
    background-image: linear-gradient(to left ,rgb(252, 252, 252), rgb(192, 192, 244));
}
@media (max-height:400px) {
    .algo-title{
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 1px;

    }
}
@media (max-width:600px) { 
   .content{
        flex-wrap: wrap;
    }

    .left{
        /* margin-top: 60px; */
        height: 40%;
        width: 100%;
        padding: 7vw 8vw;
        padding: 10px;
    }
    .right{
        height: calc(60% - 25px);
        width: 100%;
    }
    .signup-section{
      flex-wrap: wrap;

    }
    .algo-title{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .search-page-cont{
        height: calc(50% - 10px);
        /* width: 100%; */
    }

}